<!DOCTYPE html>
<html lang = "ro">
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel = "stylesheet" type = "text/css" href = "CSS/Home.css">
		<link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Lato">
		<link rel = "icon" href = "Images/Icon.png">
		<link href="https://fonts.googleapis.com/css?family=Kalam:300&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/7218cc0d0e.js" crossorigin="anonymous"></script>
		<script src = "JS/Home.js"></script>
		<title>Home</title>
	</head>
	<body>
		<header class = "banner">
			<div class = "wrapper_3">
				<div class = "navigation_bar login_form">
					<% if (login) { %>
						<form id = "submit" action = "/logout?_method=DELETE" method = "POST">
							<a href = "javascript:void(0);" onclick = "document.getElementById('submit').submit()">Log out</a>
						</form>
					<% } else { %>
						<a href = "/login">Autentificare</a>
						<a href = "/register">Creare cont</a>
					<% } %>
				</div>
				<% if (login) { %>
					<div class = "logat">
						<a>Bine ai revenit, <%= name %>!</a>
					</div>
				<% } %>
			</div>
			<a>Algoritmii de sortare în C++</a>
			<div class = "Game">
				<img alt = "#" src = "Images/Bar.png">
				<img alt = "#" src = "Images/Bar.png">
				<img alt = "#" src = "Images/Bar.png">
			</div>
			<div class = "EasterEgg">
				<a>...nu chiar toţi.&nbsp;&nbsp;<i class="far fa-laugh-beam"></i></a>
			</div>
		</header>
		<br>
		<nav class = "navigation_bar" id = "navbar">
			<a href = "/Home" class = "current_page">Home<i class="fas fa-home"></i></a>
			<div class = "dropdown">
				<button class = "dropdown_button">Algoritmi <i class="fas fa-sort-amount-up"></i></button>
				<div class = "wrapper_2">
					<div class = "dropdown_content">
						<a href = "/Bubblesort">Bubble Sort</a>
						<a href = "/Quicksort">Quick Sort</a>
						<a href = "/Radixsort">Radix Sort</a>
					</div>
				</div>
			</div>
			<a href = "/Contact">Contact <i class="fas fa-address-book"></i></a>
			<% if (admin) { %>
				<a href = "/Edit">Modifica utilizatori <i class="fas fa-user-edit"></i></a>
			<% } %>
			<% if (login) { %>
				<a href = "/Chat">Chat <i class="far fa-comment-dots"></i></a>
				<a href = "/Profil">Profil <i class="fas fa-user-alt"></i></a>
			<% } %>
			<a href = "javascript:void(0);" class = "icon" onClick = "changeToResponsive()"><i class="fas fa-caret-down"></i></a>
		</nav>
		<br><br>
		<article class = "article box">
			<h1>Introducere</h1>
			<p>Salut!</p>
			<p>Te intrebi ce este cu acest website? Care a fost scopul principal pentru care a fost creat?</p>
			<p>Ei bine, după cum sugerează şi titlul, aceasta pagina a fost realizata în ideea de a prezenta un număr de algoritmi de sortare
				în limbajul de programare C++.
			</p>
			<p>În componenţa prezentării fiecăruia dintre algoritmi vom avea în vedere următoarele aspecte, structurate după cum urmează:</p>
			<ol>
				<li>Detalierea funcţionalităţii algoritmului: <i> "logica" </i> din spatele lui şi scenariile în care rulează optim;</li>
				<li>Implementarea algoritmului în limbajul de programare C++, la care se adaugă şi comentarii;</li>
				<li>Menţionarea şi justificarea complexităţilor - spaţiu, timp - worst case, best case;</li>
				<li>Afişarea numărului de operaţii pentru un set de date (dat de la tastatură).</li>
			</ol>
			<p>În continuare, te invit să urmăreşti toate aceste informaţii în pagina numită <i><b>Algoritmi</b></i>. :)</p>
		</article>
		<br><br>
	</body>
