<!DOCTYPE html>
<html lang = "ro">
    <head>
        <style>
          .mesaj {
          text-align: center;
          width: 100%;
          	background-color: #2883c8;;
          }
          p {
          	color: white;
          }
          
          a {
          color: white;
          text-decoration: none;
          font-style: oblique;
          }
        </style>
    </head>
    <body>
          <div class = "mesaj">
            <p> Salut, <%= name%>!</p>
            <p> Click <a href = <%= link%>>aici</a> pentru a activa contul.</p>
        </div>         
  </body>
</html>