<!DOCTYPE html>
<html lang = "ro">
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel = "stylesheet" type = "text/css" href = "CSS/404.css">
		<link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Lato">
		<link rel = "icon" href = "Images/Icon.png">
		<link href="https://fonts.googleapis.com/css?family=Kalam:300&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/7218cc0d0e.js" crossorigin="anonymous"></script>
		<script src = "JS/404.js"></script>
		<title>Oops...</title>
	</head>
	<body>
		<article class = "article box">
			<h1>Oops...</h1>
			<p>Ai încercat să accesezi o pagină invalidă.</p>
			<p>Vei fi redirecţionat către pagina principală cât ai zice peşte.</p>
		</article>
	</body>
</html>
